.register-form
{
  position: absolute;
  width:  25%;
  top: 12rem;
  left: 40%;
  z-index: 10;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 0.5rem;
}
.alertMessage{
  font-size: small;
  color: 'red';
}
